{% extends "layout.html" %}

{% block title %}SoundHeaven{% endblock %}

{% block content %}
  <h2>Edit track</h2>


  {% for message in get_flashed_messages() %}
  {% if loop.first %}
  <div class="info">
  {% endif %}
  {{ message }}
  {% endfor %}
</div>

  <form action="/update_track" method="post" enctype="multipart/form-data">
    <p>
      Title: <br />
      <input type="text" name="title" value="{{track.title}}" maxlength="50" required/>
    </p>
    <p>
      {% if track_image %}
      <img class="img" src="/image/{{ track_image.id }}" />
      {% endif %}
      </p>


    <p>
      Change image: <input type="file" name="image" accept=".jpg, .png, .jpeg" />
      <div class="secondary_grey_text">Max 1MB, Supported formats: jpeg, png</div>
    </p>

    <p>
      {% if track_audio %}
      <p>current audio file:</p>
      <audio controls style="width: 800px;">
      <source src="/audio/{{ track_audio.id }}" type="audio/mpeg">
      </audio>
      {% endif %}
      </p>

    <p>
      Change audio file: <input type="file" name="audio" accept=".mp3" />
      <div class="secondary_grey_text">Max: 10MB, Supported formats: mp3</div>
    </p>

    <p>
      Description: <br />
      <textarea name="desc" rows=10 cols="60" maxlength="1000">{{track.descr}}</textarea>
    </p>
    <p>
    Tags 
    <div class="secondary_grey_text">Max 5 per track, separated by commas, e.g rock, shoegaze, math rock, alt rock, indie:</div> <br />
      <textarea name="tags" rows=1 cols="60" maxlength="150" required>{% for tag in track_tags %}{% if not loop.last -%}{{ tag[0] }},{% endif %}{% if loop.last %}{{ tag[0] }}{% endif %}{% endfor %}</textarea>
    </p>
    <input type="submit" value="Update" />
    <input type="hidden" name="track_id" value="{{ track.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>

  {% endblock %}