{% extends "layout.html" %}

{% block title %}SoundHeaven{% endblock %}

{% block content %}
    <h2>Search results:</h2>
    Found {{ amount[0][0] }} track(s).

    <!-- sql = """SELECT t.id AS track_id, t.title AS track_title, u.name AS username, u.id AS user_id, i.id AS image_id -->
    {% if query %}
    {% for track in result %}
    <div class="track_card_container">

      {% if track.image_id %}
      <a href="/track/{{ track.track_id }}">
      <img class="track_card_img" src="/image/{{ track.image_id }}" />
      </a>
      {% endif %}
      <div class="track_card_right_side_container">

      <div class="track_card_textlist">
      <a href="/track/{{ track.track_id }}"><b>Title: {{ track.track_title }}</b></a>
      <a href="/user/{{ track.user_id }}">Artist: {{ track.username }}</a>
      </div>
      <div class="track_card_audioplayer_container">
        <audio controls class="track_card_audioplayer">
        <source src="/audio/{{ track.audio_id }}" type="audio/mpeg">
        </audio>
      </div>
    </div>
    </div>
    {% endfor %}
    {% if page > 1 %}
    <a href="/search/{{ page - 1 }}?query={{ query }}"><b>prev page</b></a>
    {% endif %}
    {% if page < page_count %}
    <a href="/search/{{ page + 1 }}?query={{ query }}"><b>next page</b></a>
    {% endif %}
    {% endif %}
{% endblock %}