{% extends "layout.html" %}

{% block title %}SoundHeaven{% endblock %}

{% block content %}

    <h2>Artist: {{ user.username }}</h2>
    {% if session.user_id == user.id %}
    <p>
    </p>
    {% endif %}
    <p>
        This artist has uploaded {{ user_tracks | count }} track(s).<br/>
        {% if user.creation_time == None %}
        Member since: Here since the beginning
        {% else %}
        Member since: {{ dt }} UTC
        {% endif %}
    </p>




    <h2>Uploaded tracks:</h2>

    {% for track in user_tracks %}
    <div class="track_card_container">

      {% if track.image_id %}
      <img class="track_card_img" src="/image/{{ track.image_id }}" />
      {% endif %}
      <div class="track_card_textlist">
      <a href="/track/{{ track.track_id }}"><b>{{ track.track_title }}</b></a>
      <a href="/user/{{ track.user_id }}">{{ track.username }}</a>
      </div>

    </div>
    {% endfor %}


{% endblock %}