<!DOCTYPE html>
<html>

<head>
  <title>{{ track.title }}</title>
</head>

<body>

    <h1>Title: {{ track.title }}</h1>
    {% if session.user_id == track.user_id %}
    <p>
        <a href="/edit_track/{{ track.id }}">Edit</a>
        <a href="/remove_track/{{ track.id }}">Remove</a>
    </p>
    {% endif %}

    {% if track_image %}
    <img src="/image/{{ track_image.id }}" />
    {% endif %}
  
    <p>
        {{ track.descr }}
    </p>
    <p>
        Artist: <a href="/user/{{ track.user_id }}">{{ track.username }}</a>
    </p>
    <h2>Tags:</h2>
    {% for tag in track_tags %}
        
        {% if not loop.last -%}
            {{ tag[0] }},
        {% endif %}
        {% if loop.last %}
            {{ tag[0] }}
        {% endif %}
    {% endfor %}
    


    

    {% if session.user_id %}
    <p>
        <h3>New Comment:</h3>
    </p>    
    <p>
        <form action="/track/{{ track.id }}/create_comment" method="post">
            <p>
              <textarea name="comment" rows=2 cols="60" maxlength="150" required></textarea>
            </p>
            <input type="submit" value="Post comment" />
          </form>
    </p>

    {% endif %}

    <p>
        <h3>Comments:</h3>
    </p>
    {% for comment in track_comments %}
        
    <a href="/user/{{ comment.user_id }}"><b>{{ comment.username }}</b></a> <br />
    {{ comment.comment }}<br />
    {% if comment.user_id == session.user_id %}
    <form action="/remove_comment/{{ comment.id }}" method="post">
        <input type="submit" value="Delete comment" />
        <input type="hidden" name="track_id" value="{{ track.id }}" />
    </form>
        <br />
    {% endif %}
    <br />
    {% endfor %}
</body>

</html>
