{% extends "layout.html" %}

{% block title %}SoundHeaven{% endblock %}

{% block content %}

    <h2>Title: {{ track.title }}</h2>

    <div class="artist_name_card">
      <!--   <a href="/user/{{ track.user_id }}" class="artist_name_card_link"> -->
        {% if not user.image_id %}
        <a href="/user/{{ track.user_id }}" class="artist_name_card_link">
                <img class="tiny_pfp_img" src="/static/icons/pfp.jpg" alt="Profile photo for user {{ track.username }}"/>
        </a>
      {% else %}
      <a href="/user/{{ track.user_id }}" class="artist_name_card_link">
        <img class="tiny_pfp_img" src="/image/{{ user.image_id }}" alt="Profile photo for user {{ track.username }}"/>
        </a>
      {% endif %}
    <!-- </a>-->
      <a href="/user/{{ track.user_id }}" class="artist_name" >{{ track.username }}</a>
    </div>

    {% if session.user_id == track.user_id %}
    <p>
        <a href="/edit_track/{{ track.id }}">Edit</a>
        <a href="/remove_track/{{ track.id }}">Remove</a>
    </p>
    {% endif %}



    <p>
    {% if track_image %}
    <img class="img" src="/image/{{ track_image.id }}" alt="image for track {{ track.title }}"/>
    {% endif %}
    </p>

    <p>
    {% if track_audio %}
    <audio controls style="width: 800px;">
    <source src="/audio/{{ track_audio.id }}" type="audio/mpeg">
    </audio>
    {% endif %}
    </p>

    <p>
        {{ track.descr | show_lines}}
    </p>


    <h2>Tags:</h2>
    {% for tag in track_tags %}

        {% if not loop.last -%}
            {{ tag[0] }},
        {% endif %}
        {% if loop.last %}
            {{ tag[0] }}
        {% endif %}
    {% endfor %}



    <p>
        <h3>Comments:</h3>
    </p>

    {% if session.user_id %}
    <p>
        <h4>New Comment:</h4>
    </p>    
    <p>
        <form action="/track/{{ track.id }}/create_comment" method="post">
            <p>
              <textarea name="comment" rows=2 cols="60" maxlength="150" required></textarea>
            </p>
            <input type="submit" value="Post comment" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          </form>
    </p>
    {% else %}
    <p>
        Please log in to post comments.
    </p>
    {% endif %}
    {% for comment in track_comments %}
        
    <a href="/user/{{ comment.user_id }}"><b>{{ comment.username }}</b></a> <br />
    {{ comment.comment | show_lines }}<br />
    {% if comment.user_id == session.user_id %}
    <form action="/remove_comment/{{ comment.id }}" method="post">
        <input type="submit" value="Delete comment" />
        <input type="hidden" name="track_id" value="{{ track.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
        <br />
    {% endif %}
    <br />
    {% endfor %}

    {% if page_count > 1 %}
    <div class="page_selector">
    {% if page > 1 %}
    <a href="/track/{{ track.id }}/{{ page - 1 }}"><b>&lt;&lt;</b></a>
    {% endif %}

    &nbsp;Current page: {{ page }}&nbsp;

    {% if page < page_count %}
    <a href="/track/{{ track.id }}/{{ page + 1 }}"><b>&gt;&gt;</b></a>
    {% endif %}
    {% endif %}
    </div>
    
{% endblock %}